<footer class="py-4">
  <div class="container">
    <div class="row align-items-center">
      <!-- Contacto -->
      <div class="col-12 col-md-4 text-center text-md-start mb-3 mb-md-0">
        <h6>CONTACTO</h6>
        <p class="mb-0">ana.lacima@gmail.com</p>
      </div>
      
      <!-- Logo -->
      <div class="col-12 col-md-4 text-center mb-3 mb-md-0">
        <img src="img/logoimagen80x80sinfondo2.png" alt="logo" class="img-fluid" style="max-height: 60px;">
      </div>
      
      <!-- Redes sociales -->
      <div class="col-12 col-md-4 text-center text-md-end">
        <h6>¡SÍGUENOS!</h6>
        <div class="icons">
          <i class="fa-brands fa-square-facebook"></i>
          <i class="fa-brands fa-linkedin"></i>
          <i class="fa-brands fa-square-whatsapp"></i>
        </div>
      </div>
    </div>
  </div>
</footer>